@{
    ViewBag.Title = "UploadFile";
}

<h2>Please select & upload the file in @ViewBag.AllowedFileExtensions format</h2>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input id="submitBtn" type="submit" value="Upload" disabled="" />

        <p id="size"></p>
        <br />
        <span id="output">@ViewBag.Message</span>
        <br />

    </div>
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(
            function () {

            $('#file').change( function() {
                    var selectedFileSizeInMb = (this.files[0].size / 1024 / 1024).toFixed(2);
                    var maxFileSizeInMb = Math.round((@ViewBag.MaximumFileSize / 1024 / 1024));
                    if (selectedFileSizeInMb <= maxFileSizeInMb && selectedFileSizeInMb >= 0) {
                        $('#submitBtn').prop('disabled', false);
                        $('#output').empty();
                    } else {
                        $('#submitBtn').prop('disabled', true);
                        $('#output').html('File too big, please select a file less than ' + maxFileSizeInMb + ' mb');
                }
            });
        });
    </script>
}
